{% extends 'tangoschool/base.html' %}

{% block content %}
<h1> {{ title }}</h1>


    <h2> Дата: {{ lesson.date }} </h2>
    <h2> Время {{ lesson.time }} </h2>
    {% if lesson.lesson_type %}
    <h2>Тип урока: {{ lesson.get_lesson_type_display }}</h2>
    {% endif %}
    {% if lesson.level %}
       <h2> Уровень: {{ lesson.get_level_display }}</h2>
    {% endif %}
    {% if lesson.trainer1 %}
    <h2>Тренер 1: {{ lesson.trainer1 }} </h2>
    {% endif %}
    {% if lesson.trainer2 %}
    <h2>Тренер 2: {{ lesson.trainer2 }} </h2>
    {% endif %}
    {% if lesson.lesson_topic %}
    <h2>Тема урока:{{ lesson.lesson_topic }}</h2>
    {% endif %}

   <hr>

    <h1> Студенты:</h1>
    {% for student in students %}
      <h3> {{ student }} </h3>
   {% endfor %}
    <hr>

    {% if guests %}
<h1> Гости </h1>
    {% for guest in guests %}
    <h3>{{guest}}</h3>
    {% endfor %}
     <h2>Сумма от гостей: {{ lesson.guests_total_money }}</h2>
    {% endif %}




{% endblock %}