{% extends 'tangoschool/base.html' %}

{% block content %}
    <h2>{{ title }}</h2>
    <ul class="list-articles">
        <h5>
            <span style="display: inline-block; width: 200px;"> Прізвище</span>
            <span style="display: inline-block; width: 200px;"> Ім'я </span>
            <span style="display: inline-block; width: 150px;"> Рівень </span>
            <span style="display: inline-block; width: 200px;"> Залишок занять </span>
        </h5>



            {% for student in students %}
                <li>
                <div class="article-panel">
                   <a href="{{ student.get_absolute_url }}" class="{% if student.level == 'beginner' %}level-beginner{% else %}level-advanced{% endif %}">
                        <h5>
                                <span style="display: inline-block; width: 200px;">{{ student.last_name }}</span>
                                <span style="display: inline-block; width: 200px;">{{ student.first_name }}</span>
                                <span style="display: inline-block; width: 150px;">{{ student.level }}</span>
                                <span style="display: inline-block; width: 200px;">{{ student.student_balance.balance }}</span>

                        </h5>

                    </a>
                </div>
            </li>
                        {#                {% if student.photo %}#}
                        {#                        <div class="image-container">#}
                        {#                            <img class="img-article-students" src="{{ student.photo.url }}" alt="фото">#}
                        {#                        </div>#}
                        {##}
                        {#                    {% endif %}#}


            {% endfor %}
        </ul>
{% endblock content %}