{% extends 'tangoschool/base.html' %}

{% block content %}
    <h2>{{ title }}</h2>
    <ul class="list-articles">
        {% for st in students %}
            <li>
                <div class="article-panel">
                    {% if st.photo %}
    <p> <img class="img-article-left" src="{{ st.photo.url}}" alt="фото"></p>
    {% endif %}
                    <a href="{{ st.get_absolute_url }}"><h5> {{ st.name }} {{ st.last_name }}</h5></a>
                    <p class="first">Остаток занятий: {{ st.lessons_balance }}</p>
                    <p class="last">Телефон: {{ st.phone_number }}</p>



                </div>

            </li>
        {% endfor %}

    </ul>
{% endblock %}