{% extends 'tangoschool/base.html' %}

{% block content %}
<h1> {{ title }}</h1>
    {% if student.photo %}
    <p> <img class="img-article-left" src="{{ student.photo.url}}" alt="фото"></p>
    {% endif %}

    <h2>{{ student.last_name }}  {{ student.first }}</h2>
    <h2>День рождения -  {{ student.birth_day }}</h2>
    <h2>Уровень -  {{ student.level }}</h2>
    <h2>Остаток занятий -  {{ student.lessons_balance }}</h2>
    <a href="{% url 'buy_lessons' pk=student.pk %}" class="btn btn-primary">Добавить занятия</a>


{% endblock %}