@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

html,
body {
    height: 100%;
    color: #fb7503;
    font-family: Michroma,serif;
    background: linear-gradient(90deg, #150890 0%, #54ec08 100%);
}

p {
    color: #e8086e;
}

a {
    color: #f60606;;
    text-decoration: none;
}

a:hover {
    color: rgb(8, 236, 179);
    text-decoration: none;
}

ul.mainmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 70px;
    background: linear-gradient(90deg, #150890 0%, #fffffe 100%);
    font-size: 20px;
    overflow: hidden;
}

/*.nav-link {*/
/*    color: aquamarine;*/
/*}*/

/*.navbar-nav .nav-link.active {*/
/*    color: rgb(230, 10, 65);*/
/*}*/

.max-img-size {
    max-width: 500px; /* Задайте желаемую максимальную ширину */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

hr {
    height: 10px;
    border-color: #f8d803;
}

ul.mainmenu li.logo {
    margin: 0;
}

.logo {
    background: url('../images/logo.png') no-repeat 2px;
    width: 80px;
    height: 70px;
}

ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 30px;
}

ul.mainmenu li.last {
    float: right;
}

ul li {
    color: red;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Заполняем минимальную высоту окна */
}

.site-content {
    flex: 1; /* Основное содержимое занимает все доступное место */
}

.card a{
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer {
    box-sizing: border-box;
    background: #3F4137;
    padding: 5px;
    color: #aaa;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica;
    text-align: left;
    overflow: hidden;
}

footer a {
    text-decoration: underline;
    color: #002af3;
}

footer,
.btn-primary {
    background: linear-gradient(270deg, #150890 0%, #08f60c 100%);
}


.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px ) {
    .carousel-indicators {
     display: none;
    }
 }

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    color: #CC0000;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.forms_CheckboxSelectMultiple {
    color: #CC0000;
}


.img-article-student {
    float: left; /* Выравнивание изображения по правому краю */
    margin-left: 10px; /* Отступ слева от текста, чтобы разделить изображение и данные */
    max-width: 250px; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    border: 1px solid #ccc; /* Рамка вокруг изображения (опционально) */
}

.img-article-students {
    float: right; /* Выравнивание изображения по правому краю */
    margin-left: 10px; /* Отступ слева от текста, чтобы разделить изображение и данные */
    max-width: 70px; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    border: 1px solid #ccc; /* Рамка вокруг изображения (опционально) */
}

/* Стилизация для контейнера изображения */
.image-container {
    display: inline-block; /* Отображение в виде блочного элемента с возможностью обтекания текстом */
}

.info-container {
    display: inline-block; /* Отображение в виде блочного элемента с возможностью обтекания текстом */
    vertical-align: top; /* Выравнивание по верхнему краю, чтобы текст начинался выше изображения */
}